body{background-color: #111; background-attachment:fixed; padding-top:50px;}
li{list-style-type: none}

#logo{margin:0 auto; padding:0 auto; width:150px; height:40px; }

.circular {
	width: 100px;
	height: 100px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image:url(../img/portrait.jpg);
	}

.btn{border-radius:0px;}
.btn-dark{background-color: #222; background-image:url(../img/dark.png);color:#9AB816; border:none; width:30px; height:30px;}
.btn-dark:hover{background-color: #444; color:#9AB816; border:none;}
.btn-light{background-color: #eee; background-image:url(../img/light.png); height:30px; width:30px;}
.bottom{height:100%;}

.sm{height:50px;}
.lg{height:500px;}

.navbar .navbar-fixed-top{min-height:30px; height:30px;}
.navbar-inverse .navbar-nav > li > a {color:#ccc; font-family:Open Sans; font-size:.9em; font-weight: 600;}
.navbar-inverse .navbar-nav > li > a :focus{color:#F26621;}
.navbar-brand{padding-top: 5px;padding-bottom: 0px;}
.navbar-inverse{background-color:#080808;  border-bottom:0px solid black;}
.navbar-inverse .navbar-toggle{border-color:white;}
.navbar-inverse 
	.navbar-nav > 
	.active > 
	a, .navbar-inverse 
	.navbar-nav > 
	.active > 
	a:hover, 
	.navbar-inverse 
	.navbar-nav > 
	.active > 
	a:focus {background-color:#111; border-left:1px solid #7f5100; border-right:1px solid #7f5100;}

	.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {color:#FFFEFA;}