body{background-color: #111; background-attachment:fixed; padding-top:50px;}

#logo{margin:0 auto; padding:0 auto; }

.circular {
	width: 100px;
	height: 100px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image:url(../img/portrait.jpg);
	}
.bottom{height:100%;}

.sm{height:50px;}
.lg{height:500px;}

.navbar-inverse .navbar-nav > li > a {color:#ccc; font-family:Open Sans; font-size:.9em; font-weight: 600;}
.navbar-inverse .navbar-nav > li > a :focus{color:#F26621;}
.navbar-brand{padding-top: 5px;padding-bottom: 0px;}
.navbar-inverse{background-color:#080808;  border-bottom:0px solid black;}
.navbar-inverse .navbar-toggle{border-color:white;}
.navbar-inverse 
	.navbar-nav > 
	.active > 
	a, .navbar-inverse 
	.navbar-nav > 
	.active > 
	a:hover, 
	.navbar-inverse 
	.navbar-nav > 
	.active > 
	a:focus {background-color:#111; border-left:1px solid #7f5100; border-right:1px solid #7f5100;}

	.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {color:#FFFEFA;}